@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  * {
    box-sizing: border-box;
  }
  
  .crop-disease-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 2rem;
  }
  
  .content-box {
    padding: 2rem 3rem;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 500px;
    animation: fadeInUp 0.8s ease-in-out;
  }
  
  .content-box h2 {
    margin-bottom: 1.5rem;
    font-size: 3rem;
    color: #ffffff;
    font-weight: 600;
  }
  
  .file-input {
    display: block;
    margin: 1rem auto;
    font-size: 1rem;
    padding: 0.6rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 100%;
    background-color: #ffffff3b;
  }
  
  .btn {
    margin-top: 0.8rem;
    padding: 0.2rem 3.5rem;
    background-color: #4caf50;
    color: white;
    font-size: 2rem;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #388e3c;
  }
  
  .card {
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    width: 100%;
    max-width: 600px;
    text-align: center;
    animation: fadeInUp 1s ease-in-out;
    background-color: #ffffff2b;
  }
  
  .card h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: white;
  }
  
  .card p {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  
  .image-container img {
    border-radius: 10px;
    width: 200px;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .image-container img:hover {
    transform: scale(1.05);
  }